#fast_cargo {
  background-image: linear-gradient(to bottom, #071359bd, #00010a),
    url("https://media.istockphoto.com/id/1477524168/photo/the-courier-wears-a-uniform-and-carries-the-package-or-goods-to-deliver-to-the-customer-woman.jpg?s=2048x2048&w=is&k=20&c=Zc_h2usPgIeQKXhKLuACtsPrYENMCMKqfBbI0X-jxRM=");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  .fast_cargo {
    // border: 2px solid #fff;
    max-width: 90%;
    width: 600px;
    margin: 0 auto;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    color: #fff;
    h1 {
      font-size: 70px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    p {
      max-width: 600px;
      line-height: 30px;
      font-size: 18px;
      letter-spacing: 1px;
      width: 90%;
    }
    .buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      .qeydiyyat {
        background-color: #ff8000;
        border: none;
        transition: 400ms;

        &:hover {
          background-color: #da6f04;
        }
      }
      .daxilol {
        border: 1px solid #ff8000;
        transition: 400ms;
        &:hover {
          background-color: #ff8000;
        }
      }
      button {
        border-radius: 10px;
        min-width: 180px;
        height: 50px;
        background-color: transparent;
        color: #fff;
        font-size: 18px;
      }
    }
  }
}
