.button1 {
  border-radius: 10px;
  min-width: 120px;
  height: 50px;
  background-color: var(--theme-color-light);
  color: #fff7f7;
  font-size: 14px;
  border: 1px solid var(--theme-color-light);
  transition: 400ms;
  font-weight: 500;
  &:hover {
    color: #fff;
    background-color: var(--theme-color-dark);
  }
}
