#why_us {
  background-color: #ebe3e347;
  max-width: 100%;
  min-height: 80vh;
  .why_us {
    width: var(--main-section-width);
    min-height: 85vh;
    gap: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-image: url("https://html.kodesolution.com/2023/transtex-html/images/icons/icon-plane-4.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% 70%;
    animation: slideDown 40s linear infinite;
    @keyframes slideDown {
      0%,
      100% {
        background-position: 0 0;
      }
      50% {
        background-position: 0 100%;
      }
    }
    .why_us_left {
      display: flex;
      max-height: 500px;
      gap: 20px;
      width: 50%;
      .why_us_image1 {
        min-width: 300px;
        height: 100%;
      }
      .why_us_images2 {
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: space-between;
        align-items: flex-end;
        margin-left: -90px;
      }
      .img2 {
        width: 300px;
        height: 200px;
        margin-top: 40px;
        border: 3px solid var(--main-theme-light);
      }
      .img3 {
        width: 210px;
        height: 230px;
        background-color: var(--theme-color-light);
        display: flex;
        flex-direction: column;
        color: #fff;
        justify-content: center;
        gap: 30px;
        text-align: center;
        // margin-bottom: 20px;
        h3 {
          width: 60%;
          margin: 0 auto;
        }
        i {
          font-size: 40px;
        }
      }
    }
    .why_us_right {
      padding-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 40px;
      width: 40%;
      h1 {
        font-size: 36px;
      }
      .experience_container {
        display: flex;
        gap: 30px;
        .experience {
          width: 170px;
          height: 190px;
          border: 3px solid rgb(172, 168, 168);
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          position: relative;
          h1 {
            font-size: 110px;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: url("https://html.kodesolution.com/2023/transtex-html/images/resource/count1-1.jpg");
            margin-bottom: 0;
            line-height: 1em;
            letter-spacing: -0.01em;
            font-weight: 900;
          }
        }
        .payment_solution {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          .payment {
            align-items: center;
            display: flex;
            gap: 20px;
            i {
              font-size: 40px;
              color: var(--theme-color-light);
              transition: transform 0.5s;
              &:hover {
                cursor: pointer;
                transform: rotateY(180deg);
              }
            }
            p {
              color: #7a7a7a;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}
