#what_we_do {
  background-color: #f3f4f7;
  max-width: 100%;
  min-height: 80vh;
  padding: 4rem 0px;
  background-image: linear-gradient(to bottom, #df1118bd, #df1118bd),
    url("https://html.kodesolution.com/2023/transtex-html/images/background/6.jpg");
  background-size: 600px 100%;
  background-position: left center;
  background-repeat: no-repeat;
  .what_we_do {
    width: var(--main-section-width);
    min-height: 60vh;
    margin: 0 auto;
    display: flex;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 50px;
    .what_we_do_head {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h1 {
        font-size: 30px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: var(--text-fonts);
      }
    }
    .what_we_do_cards {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 30px;
    }
  }
}
@media screen and (max-width: 1200px) {
  #what_we_do {
    background-image: none;
  }
}
