#what_we_do {
  background-color: rgb(193, 173, 173);
  max-width: 100%;
  min-height: 100%;
  padding: 4rem 0px;
  .what_we_do {
    width: var(--main-section-width);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // gap: 30px;
    .what_we_do_head {
      display: flex;
      flex-direction: column;
      gap: 20px;
      h1 {
        font-size: 30px;
        font-weight: 900;
        text-transform: uppercase;
        font-family: var( --text-fonts)
      }
    }
  }
}
