#news {
  max-width: 100%;
  min-height: 100%;
  padding: 3rem 0px;
  .news {
    width: var(--main-section-width);
    min-height: 30vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 50px;
    .news_head {
      display: flex;
      justify-content: center;
    }
    .news_content {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 20px;
      .news_card {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 390px;
        min-height: 390px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        float: left;
        width: 350px;
        border-radius: 14px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        line-height: 30px;
        .head {
          font-size: 18px;
          font-weight: 500;
          :hover {
            color: var(--theme-color-light);
          }
        }
        li {
          padding: 10px;
        }
      }
    }
  }
}
